body {
    display: flex;

}

.tou {
    display: flex;
    height: 1468px;
    width: 70px;
    background-color: purple;
}

.tou span:nth-child(1) {
    width: 247px;
}

.tou span:nth-child(6) {
    width: 385px;
}
.chang {
width: 1010px;
height: 223px;
}

.zhuti{
    width: 1010px;
    height: 304px;
}

.hang{
    height: 81px;
    width: 1010px;
}

.shu {
    width: 130px;
}